<div class="admin-users-page">



  <table class="users-table">
    <thead>
      <tr>
        <th>ID</th>
        <th class="filter-th">
           <div class="th-inner">
              <span>Ad Soyad</span>
              <button type="button" class="th-filter-btn" (click)="toggleNameFilter($event)">🔍</button>
            </div>
            <div class="th-filter-popup" [hidden]="!showNameFilter()" (click)="$event.stopPropagation()">
              <input 
  type="text"
  placeholder="Ad Soyad ile ara..."
  [ngModel]="searchName"
  (ngModelChange)="onNameChange($event)"
  class="form-control" />
            </div>
        </th>
       <th class="filter-th">
           <div class="th-inner">
              <span>E-posta</span>
              <button type="button" class="th-filter-btn" (click)="toggleEmailFilter($event)">🔍</button>
            </div>
            <div class="th-filter-popup" [hidden]="!showEmailFilter()" (click)="$event.stopPropagation()">
              <input 
  type="text"
  placeholder="E-posta ile ara..."
  [ngModel]="searchEmail"
  (ngModelChange)="onEmailChange($event)"
  class="form-control" />
            </div>
        </th>
        <th>Rol</th>
        <th>İşlem</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track user.id) {
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.fullName }}</td>
          <td>{{ user.email }}</td>
          <td>
            <span class="role-badge" [class.admin]="user.role === 'Admin'">
              {{ user.role }}
            </span>
          </td>
          <td>
            <button class="role-toggle" (click)="toggleRole(user)">
              {{ user.role === 'Admin' ? 'User Yap' : 'Admin Yap' }}
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

<!-- 📑 SAYFALANDIRMA (PAGINATION) KONTROLLERİ -->
  <div class="pagination-bar" *ngIf="totalPages > 0">
    <span class="info-text">
      Toplam <strong>{{ totalCount }}</strong> kayıttan {{ (currentPage - 1) * pageSize + 1 }} - {{ currentPage * pageSize > totalCount ? totalCount : currentPage * pageSize }} arası gösteriliyor.
    </span>

    <div class="page-buttons">
      <button 
        type="button" 
        class="btn-page" 
        [disabled]="currentPage === 1" 
        (click)="prevPage()">
        ◀ Önceki
      </button>
      
      <span class="page-indicator">Sayfa {{ currentPage }} / {{ totalPages }}</span>
      

      <button 
        type="button" 
        class="btn-page" 
        [disabled]="currentPage === totalPages || totalPages === 0" 
        (click)="nextPage()">
        Sonraki ▶
      </button>
    </div>
  </div>
</div>




